In [2]:
import matplotlib.pyplot as plt

In [3]:
import os

In [4]:
os.getcwd()

'D:\\Jellybean\\Second_Attempt'

In [5]:
image_folder = os.path.join(os.getcwd(), "Split_Images")

In [6]:
all_images = os.listdir(image_folder)

In [7]:
len(all_images)

6646

In [8]:
from tqdm.notebook import tqdm

In [9]:
import random

In [10]:
random.shuffle(all_images)

In [11]:
catch_df = []

for img in tqdm(all_images): 
    img_arr = plt.imread(os.path.join(image_folder, img))
    shape = img_arr.shape
    dict1 = {"img_name": img, "height": shape[0], "width": shape[1]}
    catch_df.append(dict1)

  0%|          | 0/6646 [00:00<?, ?it/s]

In [12]:
import pandas as pd

In [13]:
catch_df_df = pd.DataFrame(catch_df)

In [14]:
catch_df_df.head()

                    img_name  height  width
0        chili_mango_142.jpg     712    448
1   sizzling_cinnamon_71.jpg     661    529
2  sunkist_tangerine_115.jpg     566    513
3           dr_pepper_16.jpg     582    643
4              peach_120.jpg     728    404

In [15]:
catch_df_df = catch_df_df[(catch_df_df["height"] > 50) & (catch_df_df["width"] > 50)]

In [16]:
catch_df_df["flavor"] = [name.split(".")[0] for name in catch_df_df["img_name"]]

In [17]:
catch_df_df["flavor"] = [''.join([i for i in name if not i.isdigit()])[:-1] for name in catch_df_df["flavor"]]

In [18]:
catch_df_df["flavor"]

0             chili_mango
1       sizzling_cinnamon
2       sunkist_tangerine
3               dr_pepper
4                   peach
              ...
6641          pomegranate
6642           cantaloupe
6643          chili_mango
6644      wild_blackberry
6645            raspberry
Name: flavor, Length: 6584, dtype: object

In [19]:
from collections import Counter

In [20]:
Counter(catch_df_df["flavor"])

Counter({'chili_mango': 161,
         'sizzling_cinnamon': 100,
         'sunkist_tangerine': 121,
         'dr_pepper': 100,
         'peach': 143,
         'cantaloupe': 190,
         'margarita': 133,
         'island_punch': 173,
         'sunkist_lemon': 88,
         'strawberry_cheesecake': 170,
         'mixed_berry_smoothie': 208,
         'licorice': 100,
         'wild_blackberry': 155,
         'sunkist_orange': 100,
         'cotton_candy': 110,
         'aw_root_beer': 110,
         'french_vanilla': 102,
         'plum': 110,
         'mango': 164,
         'tutti_fruitti': 158,
         'berry_blue': 76,
         'lemon_lime': 208,
         'cinnamon': 174,
         'toasted_marshmallow': 163,
         'coconut': 110,
         'kiwi': 115,
         'aw_cream_soda': 233,
         'strawberry_daquiry': 110,
         'caramel_corn': 121,
         'juicy_pear': 109,
         'red_apple': 120,
         'sour_cherry': 110,
         'pina_colada': 110,
         'strawberry_jam': 121,
         'pomegranate': 296,
         'chocolate_pudding': 110,
         'sunkist_lime': 105,
         'sunkist_grapefruit': 100,
         'blueberry': 144,
         'green_apple': 100,
         'raspberry': 110,
         'very_cherry': 120,
         'crushed_pineapple': 118,
         'watermelon': 145,
         'cappuchino': 133,
         'orange_sherbet': 96,
         'top_banana': 104,
         'bubble_gum': 102,
         'buttered_popcorn': 120,
         'lemon_drop': 105})

In [29]:
# sampled_df = catch_df_df.groupby(["flavor"])["img_name"].sample(frac = 0.20).reset_index()

In [30]:
# sampled_df.head()

In [31]:
# from skimage.transform import  resize

In [32]:
# import numpy as np

In [33]:
# median_shapes = np.median(catch_df_df.iloc[:,1:3],0)

In [34]:
# catch = []
# for name in tqdm(sampled_df["img_name"]): 
#     img_arr = plt.imread(os.path.join(image_folder, name))/255.0
#     img_arr = resize(img_arr, (int(median_shapes[0]), int(median_shapes[1])), anti_aliasing=True)
#     img_arr = img_arr.reshape(img_arr.shape[0]*img_arr.shape[1], 3).astype("float16")
#     catch.append(img_arr)

In [35]:
# catch = np.array(catch).astype("float16")

In [36]:
# catch = catch.reshape(catch.shape[0]*catch.shape[1],3)

In [1]:
# catch

In [ ]:
# np.save("kmeans_data.npy", catch)

In [ ]:
# kmeans_data = np.load("kmeans_data.npy")

In [ ]:
# kmeans_data.shape

In [ ]:
# from sklearn.cluster import MiniBatchKMeans

In [ ]:
# batch_size = 100000000

In [ ]:
# inertia = []
# for k in tqdm(range(5,15)):
#     kmeans = MiniBatchKMeans(n_clusters=k,
#                              random_state=0,
#                             batch_size=batch_size)
#     for i in tqdm(range(0, len(kmeans_data), batch_size)):
#         kmeans.partial_fit(kmeans_data[i:i+batch_size])
#     inertia.append(kmeans.inertia_)

In [ ]:
# sse = {}
# for k in tqdm(range(5, 11)):
#     kmeans = KMeans(n_clusters=k, algorithm = "full").fit(kmeans_data.astype("float16"))
#     sse[k] = kmeans.inertia_

In [ ]:
# import matplotlib.pyplot as plt

In [ ]:
# plt.figure(figsize = (15,15))
# plt.plot(list(range(5,15)), inertia)
# plt.xlabel("Number of cluster")
# plt.ylabel("SSE")
# plt.show()

In [ ]:
# kmeans = MiniBatchKMeans(n_clusters=4,
#                         random_state=0,
#                         batch_size=batch_size, 
#                         max_iter = 10000, 
#                         n_init = 10)

In [ ]:
# for i in tqdm(range(0, len(kmeans_data), batch_size)):
#     kmeans.partial_fit(kmeans_data[i:i+batch_size])

In [ ]:
# kmeans.cluster_centers_

In [39]:
from sklearn.model_selection import train_test_split

In [118]:
X_train, X_valid_test, y_train, y_valid_test = train_test_split(catch_df_df["img_name"], catch_df_df["flavor"], 
                                                               test_size= 0.40, stratify=catch_df_df["flavor"])

In [119]:
X_valid, X_test, y_valid, y_test = train_test_split(X_valid_test, y_valid_test, 
                                                               test_size= 0.50, stratify = y_valid_test)

In [120]:
# write a function that can calculate the mean, sd, and mean/sd for a 3D matrix 
def function_basic_features(matrix, type_name):
    # this list will hold all of the engineered features for the channels
    dict_catch = []
    # iterate over the channels
    for index in range(3): 
        # extract the channel name
        name = type_name[index]
        # extract the matrix
        matrix_name = matrix[:,:,index].ravel()
        # get the mean
        matrix_mean = matrix_name.mean()
        # get the sd
        matrix_sd = matrix_name.std()
        # get the ratio
        matrix_mean_by_sd = matrix_mean/matrix_sd
        # add to a dictionary
        dict1 = {"mean_" + name: matrix_mean, "sd_" + name: matrix_sd, "matrix_mean_by_sd_"+ name: matrix_mean_by_sd}
        # add the dictionary to the list
        dict_catch.append(dict1)
    # return the list
    return(dict_catch)

In [121]:
from skimage.color import rgb2gray, rgb2hsv, rgb2yuv

In [123]:
catch_train = []
for img in tqdm(X_train.values): 
    matrix = plt.imread(os.path.join(image_folder, img))
    results = function_basic_features(matrix, "RGB")
    matrix_hsv = rgb2hsv(matrix)
    results_hsv = function_basic_features(matrix_hsv, "HSV")
    matrix_yuv = rgb2yuv(matrix)
    results_yuv = function_basic_features(matrix_yuv, "YUV")
    dict_catch = {"img_name": img}
    dict_catch.update(results[0])
    dict_catch.update(results[1])
    dict_catch.update(results[2])
    
    dict_catch.update(results_hsv[0])
    dict_catch.update(results_hsv[1])
    dict_catch.update(results_hsv[2])
    
    dict_catch.update(results_yuv[0])
    dict_catch.update(results_yuv[1])
    dict_catch.update(results_yuv[2])
    
    catch_train.append(dict_catch)

  0%|          | 0/3950 [00:00<?, ?it/s]

In [124]:
catch_valid = []
for img in tqdm(X_valid.values): 
    matrix = plt.imread(os.path.join(image_folder, img))
    results = function_basic_features(matrix, "RGB")
    matrix_hsv = rgb2hsv(matrix)
    results_hsv = function_basic_features(matrix_hsv, "HSV")
    matrix_yuv = rgb2yuv(matrix)
    results_yuv = function_basic_features(matrix_yuv, "YUV")
    dict_catch = {"img_name": img}
    dict_catch.update(results[0])
    dict_catch.update(results[1])
    dict_catch.update(results[2])
    
    dict_catch.update(results_hsv[0])
    dict_catch.update(results_hsv[1])
    dict_catch.update(results_hsv[2])
    
    dict_catch.update(results_yuv[0])
    dict_catch.update(results_yuv[1])
    dict_catch.update(results_yuv[2])
    
    catch_valid.append(dict_catch)

  0%|          | 0/1317 [00:00<?, ?it/s]

In [125]:
catch_test = []
for img in tqdm(X_test.values): 
    matrix = plt.imread(os.path.join(image_folder, img))
    results = function_basic_features(matrix, "RGB")
    matrix_hsv = rgb2hsv(matrix)
    results_hsv = function_basic_features(matrix_hsv, "HSV")
    matrix_yuv = rgb2yuv(matrix)
    results_yuv = function_basic_features(matrix_yuv, "YUV")
    dict_catch = {"img_name": img}
    dict_catch.update(results[0])
    dict_catch.update(results[1])
    dict_catch.update(results[2])
    
    dict_catch.update(results_hsv[0])
    dict_catch.update(results_hsv[1])
    dict_catch.update(results_hsv[2])
    
    dict_catch.update(results_yuv[0])
    dict_catch.update(results_yuv[1])
    dict_catch.update(results_yuv[2])
    
    catch_test.append(dict_catch)

  0%|          | 0/1317 [00:00<?, ?it/s]

In [168]:
train_features = pd.DataFrame(catch_train)

In [169]:
valid_features = pd.DataFrame(catch_valid)

In [170]:
test_features = pd.DataFrame(catch_test)

In [171]:
train_valid_features = pd.concat([train_features, valid_features], ignore_index = True)

In [172]:
train_valid_features_with_labels = pd.merge(train_valid_features, catch_df_df, how = "inner", on = "img_name")

In [173]:
train_valid_features_with_labels.head()

,img_name,mean_R,sd_R,matrix_mean_by_sd_R,mean_G,sd_G,matrix_mean_by_sd_G,mean_B,sd_B,matrix_mean_by_sd_B,...,matrix_mean_by_sd_V,mean_Y,sd_Y,matrix_mean_by_sd_Y,mean_U,sd_U,matrix_mean_by_sd_U,height,width,flavor
0,island_punch_110.jpg,78.950940,42.162198,1.872553,76.113418,43.419516,1.752977,88.640602,39.371734,2.251377,...,0.637838,0.307412,0.166869,1.842233,0.019782,0.010315,1.917755,421,558,island_punch
1,chili_mango_122.jpg,176.218395,8.777172,20.076898,133.861499,20.955386,6.387928,76.459216,50.459557,1.515257,...,2.106664,0.548950,0.073521,7.466561,-0.122590,0.064456,-1.901928,509,479,chili_mango
2,toasted_marshmallow_130.jpg,114.274421,20.282966,5.634009,93.592865,24.644572,3.797707,70.726615,28.532803,2.478783,...,2.322205,0.381058,0.090769,4.198095,-0.051031,0.024518,-2.081378,316,449,toasted_marshmallow
3,raspberry_11.jpg,108.460817,30.979901,3.501006,57.898552,52.903829,1.094411,55.304695,54.950034,1.006454,...,2.005957,0.285180,0.181293,1.573032,-0.033611,0.019414,-1.731301,455,591,raspberry
4,dr_pepper_31.jpg,67.678644,46.906450,1.442843,53.877319,52.709053,1.022164,55.905822,52.498440,1.064904,...,1.231018,0.228373,0.199091,1.147077,-0.004495,0.008052,-0.558278,638,680,dr_pepper

In [174]:
test_features = pd.merge(test_features, catch_df_df, how = "inner", on = "img_name")

In [203]:
X_train

,mean_R,sd_R,matrix_mean_by_sd_R,mean_G,sd_G,matrix_mean_by_sd_G,mean_B,sd_B,matrix_mean_by_sd_B
0,78.950940,42.162198,1.872553,76.113418,43.419516,1.752977,88.640602,39.371734,2.251377
1,176.218395,8.777172,20.076898,133.861499,20.955386,6.387928,76.459216,50.459557,1.515257
2,114.274421,20.282966,5.634009,93.592865,24.644572,3.797707,70.726615,28.532803,2.478783
3,108.460817,30.979901,3.501006,57.898552,52.903829,1.094411,55.304695,54.950034,1.006454
4,67.678644,46.906450,1.442843,53.877319,52.709053,1.022164,55.905822,52.498440,1.064904
...,...,...,...,...,...,...,...,...,...
5262,123.930811,18.619671,6.655908,106.293931,21.209755,5.011559,86.130912,26.996610,3.190434
5263,115.814917,12.379998,9.355003,123.364831,12.080756,10.211681,29.274266,44.376647,0.659677
5264,170.115513,14.765769,11.520938,129.289994,23.802351,5.431816,71.647933,54.760304,1.308392
5265,84.709240,21.736649,3.897070,41.066185,38.790288,1.058672,41.363117,40.554595,1.019937
5266,80.784338,45.424779,1.778420,69.892077,49.755873,1.404700,79.497558,47.199144,1.684301

In [199]:
set(test_features["img_name"]).intersection(train_valid_features_with_labels["img_name"])

set()

In [186]:
X_train, y_train = train_valid_features_with_labels.iloc[:, 1:10], train_valid_features_with_labels.iloc[:,-1]

In [187]:
from sklearn.model_selection import GridSearchCV

In [188]:
parameters = {'n_estimators':[100]}

In [189]:
from sklearn.ensemble import RandomForestClassifier

In [190]:
rf = RandomForestClassifier(n_jobs = 6)

In [191]:
clf = GridSearchCV(rf, parameters, cv = 5, scoring = "accuracy")

In [192]:
clf.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(n_jobs=6),
             param_grid={'n_estimators': [100]}, scoring='accuracy')

In [193]:
clf.best_score_

0.9829119295912465

In [194]:
X_test, y_test = test_features.iloc[:, 1:10], test_features.iloc[:,-1]

In [195]:
from sklearn.metrics import accuracy_score

In [196]:
accuracy_score(y_test, clf.predict(X_test))

0.9855732725892179

In [202]:
est = clf.best_estimator_

In [204]:
est.fit(X_train, y_train)

RandomForestClassifier(n_jobs=6)

In [207]:
pd.DataFrame(list(zip(X_train.columns, est.feature_importances_))).sort_values(1, ascending = False)

                     0         1
0               mean_R  0.178349
8  matrix_mean_by_sd_B  0.132585
3               mean_G  0.125444
2  matrix_mean_by_sd_R  0.121038
5  matrix_mean_by_sd_G  0.109282
6               mean_B  0.107564
1                 sd_R  0.088327
7                 sd_B  0.068865
4                 sd_G  0.068547